.header {
    color: #333;
}

.wrapper-content {
    display: flex;
    justify-content: flex-start;
}

.child-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.child-img {
    background-image: url('../../../../assets/images/ForYou/foryou1.png');
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.child-title {
    font-size: 1.6rem;
    color: #333;
    text-align: center;
}
