.btn {
    margin-right: 10px;
    background-color: transparent;
    border: none;

    .pen {
        color: #20ec56;
    }

    .trash {
        color: #f33838;
    }

    .info {
        color: #376dae;
    }
}
