.banner-container {
    position: relative;
    height: 460px;

    .banner-background-top {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: rgb(237, 255, 250);
        height: 324px;
    }

    .banner-background-bottom {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 136px;
        background-color: #fff;
    }

    .banner-slider {
        position: absolute;
        top: 0;
        right: 120px;
        left: 120px;
        bottom: 0;

        .slider1 {
            background-image: url('../../../assets/images/banner/banner1.png');
            height: 400px;
            border-radius: 32px;
            background-position: center;
            background-size: cover;
        }

        .slider2 {
            background-image: url('../../../assets/images/banner/banner2.png');
            height: 400px;
            border-radius: 32px;
            background-position: center;
            background-size: cover;
        }

        .slider3 {
            background-image: url('../../../assets/images/banner/banner3.png');
            height: 400px;
            border-radius: 32px;
            background-position: center;
            background-size: cover;
        }

        .slider4 {
            background-image: url('../../../assets/images/banner/banner4.jpg');
            height: 400px;
            border-radius: 32px;
            background-position: center;
            background-size: cover;
        }
    }
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 196, 25);
    border-radius: 50%;
    opacity: 0.5;
}
